pipeline/pl_variable.json
{
	"name": "pl_variable",
	"properties": {
		"activities": [
			{
				"name": "Get Fact_Sales_1 meta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "storefiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Fact_Sales_1 meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_files",
					"value": {
						"value": "@activity('Get Fact_Sales_1 meta').output.childItem.name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Azure Data Factory Full Course (From Beginner to PRO) | ADF Real-Time Scenarios"
		},
		"annotations": []
	}
}